<% gemmaData.forEach(rowData => { %>
    <tr>
        <% gemmaDataColumn.forEach(columnData => { %>
            <td class="table-light"><%= rowData[columnData.name] %></td>
        <% }); %>
    </tr>
<% }); %>
